<div id="<%= dom_id demo %>">
  <p>
    <strong>First name:</strong>
    <%= demo.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= demo.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= demo.last_name %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= demo.birth_date %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= demo.gender %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= demo.address %>
  </p>

  <p>
    <strong>Landmark:</strong>
    <%= demo.landmark %>
  </p>

  <p>
    <strong>City:</strong>
    <%= demo.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= demo.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= demo.country %>
  </p>

  <p>
    <strong>Pincode:</strong>
    <%= demo.pincode %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= demo.integer %>
  </p>

</div>
