<!-- ***** Call to Action Start ***** -->
<section class="section section-bg" id="call-to-action"
    style="background-image: url(<%= asset_path 'banner-image-1-1920x500.jpg' %>")
     <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2>Our <em>Food</em></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Call to Action End ***** -->

<section id="cart_foods">
  <div class="container">
      <div class="register-req">
        <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
      </div><!--/register-req-->
    <div class="shopper-informations">
        <div class=" clearfix">
          <div class="bill-to">
              <h2 >Bill To</h2>
          <div class="form-one">
            <form>
                         <label>Name</label>
              <input type="text" placeholder="First Name *" value="<%= current_user.first_name %>">
              <input type="text" placeholder="Middle Name *" value="<%= current_user.middle_name %>">
              <input type="text" placeholder="Surname *" value="<%= current_user.last_name %>">
                            <label>Contact</label>
              <input type="text" placeholder="Email *" value="<%= current_user.email %>">
              <input type="text" placeholder="Phone No *" value="<%= current_user.phone_no %>">
            </form>
          </div>
          <div class="form-two">
            <form>
                          <label>Address</label>
              <input type="text" placeholder="Address *" value="<%= current_user.address%>">
              <input type="text" placeholder="Landmark *" value="<%= current_user.landmark%>">
              <input type="text" placeholder="City *" value="<%= current_user.city%>">
              <input type="text" placeholder="State *" value="<%= current_user.state%>">
              <input type="text" placeholder="Country *" value="<%= current_user.country%>">
              <input type="text" placeholder="Pin Code *" value="<%= current_user.pin_code%>">
            </form>
          </div>
            </div>
        </div>
    </div>
    <br>
    <div class="col-md-7">
      <table class="table table-condensed total-result">
            <% 
            total_sum=0
            @carts.each do |cart|
                qty=cart.food.price * cart.quantity
                total_sum += qty
            end
            %>
              <li class="list-group-item" style="margin:0 0 -1px">
                  <div class="row">
                      <div class="col-6">
                          <h4><strong>Total</strong></h4>
                      </div>

                      <div class="col-6">
                          <h4 class="text-right">Rs.<%= total_sum%></h4>
                      </div>
                  </div>
              </li>

              <li class="list-group-item" style="margin:0 0 -1px">
                  <div class="row">
                      <div class="col-6">
                          <strong>Sub-Total</strong>
                      </div>

                      <div class="col-6">
                          <h5 class="text-right">Rs.<%= total_sum%></h5>
                      </div>
                  </div>
              </li>
      </table>
    </div>
        <br>
    <div class="payment-options">
        <%= form_with url: orders_path, method: 'post' do |form| %>
            <input type="hidden" name="user_id" value="<%= user.id %>">
                 <button type="submit" class="btn btn-fefault cart">
                     <i class=""></i> cash on delivery
                </button>
   <% end %>
                <%#= link_to orders_path do  %>
                    <%# <button type="submit" class="btn btn-fefault cart">cash on delivery</button> %>
        <%#end %>
    </div>
  </div>
</section> <!--/#cart_items-->